<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="layer"></div>
    <div class="main-content">
        {{>header}}<br><br><br>
        <img class="portrait" style="background-color: transparent;" src="assets/img/kshitij.jpg">
    </div>

    {{>footer}}
</body>

</html>