<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="./assets/img/weather.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <style>
        * {
            color: #333;
        }

        .firstDiv a {
            color: #333;
            border: 1.5px solid #333;
        }

        .firstDiv a:hover {
            background-color: rgb(117 255 40 / 80%);
            color: #333;
            font-weight: bold;
            border: 2px solid #000;
        }
    </style>
    <title>404 Page Error</title>
</head>

<body>
    {{>header}}
    <br><br>
    <h2>{{errorMessage}}</h2><br><br>
    {{>footer}}
</body>

</html>