<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="./assets/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="layer"></div>
    <div class="main-content">
        {{>header}}<br><br>
        <p>{{helpText}}</p>
    </div>

    {{>footer}}
</body>

</html>