<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="./assets/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="layer"></div>
    <div class="main-content">
        {{>header}}
        <br><br><br>
        <form>
            <input placeholder="Enter City Name">
            <button>Get Forecast</button>
        </form>
        <br>
        <br>
        <p class="title">Use this site to get your weather!</p>
        <br>
        <br>
        <p id="msg1">

        </p>
        <p id="msg2">

        </p>
        <p id="msg3">

        </p>
    </div>

    {{>footer}}
    <script src="/js/app.js"></script>
</body>

</html>